*.swp
.vscode/
logs/*
!logs/.gitkeep
build/
src/bridge/build/
third_party/*
third_party/lib/libvfio-user
third_party/hw/openPCIE
!third_party/hw/.gitkeep
!third_party/lib/.gitkeep
!third_party/**/
!third_party/**/*.sh
!third_party/**/*.py
third_party/os/images/linux/**
!third_party/os/images/linux/setup_fedora_password.sh
!third_party/os/images/linux/setup_ubuntu_password.sh
!third_party/os/images/linux/update_links_only.py
*.iso
*.vcd
